canvas {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  transition: 1s ease-in-out;
}

main {
  top: 0px;
  left: 0px;
  width: 70vw;
  height: 100vh;
  position: absolute;
}

aside {
  top: 0vh;
  height: 100vh;
  left: 70vw;
  width: 30vw;
  position: absolute;
  border: 3px groove green;
  box-sizing: border-box;
  vertical-align: top;
  overflow: scroll;
}

aside ul {
  margin: 0;
  padding: 0;
}

aside li {
  margin: 0 10px;
  margin-right: 10px;
  padding: 0;
  list-style-type: none;
}

aside li:first-of-type {
  margin: 10px 10px;
  padding: 0;
}

.debugSection {
  border: 2px groove green;
  margin: 10px;
  padding: 10px;
}

.debugSection label {
  font-family: Helvetica;
  padding-right: 5px;
  text-align: right;
  width: 40%;
}

.debugSection output {
  font-family: Courier;
  border: 1px solid black;
  padding: 2px;
  min-width: 60%; /* I don't know how to do this */
}
