canvas {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  transition: 1s ease-in-out;
}

main {
  top: 0px;
  left: 0px;
  width: 70vw;
  height: 100vh;
  position: absolute;
}

aside {
  top: 0vh;
  height: 100vh;
  left: 70vw;
  width: 30vw;
  position: absolute;
  border: 3px groove green;
  box-sizing: border-box;
}
